* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #999999;
}

#container, header, section, footer {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

section {
    background-color: #354b5a;
    color: #f0f1ef;
}

header div, footer div {
    width: 25%;
    height: 50px;
    border: 1px solid black;
    font-weight: bold;
    padding: 1% 0 1% 0;
}

footer div:first-child {
    width: 50%;
}

table {
    width: 90%;
    margin: 2% auto;
}

#title, #artist, #during {
    border-right: 2px solid #ffffff;
}

#during, #youtube {
    width: 15%
}

#title, #artist {
    width: 35%;
}

select {
    width: 25%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    width: 100%;
    text-align: center;
    margin: 2% 0;
}

.window {
    margin: 0 auto 2% auto;
    background-color: #4c4646;
    width: 50%;
    border-radius: 15px;
}

label {
    margin-left: 5%;
}

input, label {
    margin-bottom: 2%;
}

button {
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 2%;
}

#confirm {
    margin-left: 40%;
}

td {
    text-align: center;
    padding: 1% 0;
    color: #e9e9ae;
}

iframe {
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: #ea0707;
}

footer div, header div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#song {
    font-style: italic;
    color: #114fec;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 800px){
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 650px){
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 400px){
    #cancel {
        margin-left: 40%;
    }
}